.biblegram-board {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Center align horizontally */
    align-items: center;    /* Center align vertically */
    gap: 40px 0px;              /* Space between items */
    /* border: 1px solid #ccc;  */
    padding: 25px 100px 100px 100px;          /* Optional: Padding around the container */
    /*margin: 25px 100px 100px 100px;          /* Optional: Padding around the container */
    /* background-color: #3bcc5a; */
    height: 80%;
    overflow: scroll;
}

.mobile-biblegram-board {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Center align horizontally */
    align-items: center;    /* Center align vertically */
    gap: 40px 0px;              /* Space between items */
    /* border: 1px solid #ccc;  */
    padding: 50px;          /* Optional: Padding around the container */
    /* background-color: #3bcc5a; */
    height: 57.5%;
    overflow: scroll;
}

.letter-container {
    position: relative;
}

.letter-component {
    width: 25px;
    height: 40px;
    margin: 0px 1px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid #8d373700;
    border-radius: 4px;
    text-transform: uppercase;
    /* background-color: #ff5c5c; */
}

.letter-component.selected {
    border-color: #2ec09b;
}

.letter-component:focus {
    border-color: #ffffff;
}

.small-r {
    position: absolute;
    bottom: -18px; /* Adjust the position relative to the main letter */
    left: 50%; /* Center the small 'r' horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 12px; /* Example font size */
}

.non-letter-component {
    height: 40px;
    margin: 0px 1px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
    text-transform: uppercase;
}

.non-letter-component-space {
    width: 50px;
}

.non-letter-component-non-space {
    width: 25px;
    background-color: #82828229;
}
