.keyboard {
  background-color: hsla(0, 0%, 100%, 0.075);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: 20%;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px 0 15px;
  border-radius: 10px 10px 0px 0px;

}

.keyboard-row {
  display: flex;
  gap: 2px;
}

.keyboard-key {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333333;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  width: 30px;
  color: #ccc;
}

.keyboard-key:active {
  background-color: #a13030;
}

.keyboard-key[disabled] {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.keyboard-key-enter {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #b13d3d;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  width: 60px;
}