.biblegram-header {
  height: 10%;
  width: 100vw;
  padding: 20px 0px;
  border-bottom: 2px solid lightgrey;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .biblegram-nav {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
  }
  h1 {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 40px;
    right: 100px;
  };
}


.mobile-biblegram-header {
  height: 10%;
  width: 100vw;
  padding: 2.5px 0px;
  border-bottom: 2px solid lightgrey;
  display: grid;
  place-items: center;
  h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 25px;
  }
}